/* ======================= Not Found Css Start ======================== */
.not-found {
	min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
        font-size: 80px;
        line-height: 1;
    }
}
/* ======================= Not Found Css End ======================== */
