/* ==================== Home Two Initial Css Start =================== */
.dark-background {
    background-color: var(--gray-900);
    color: hsl(var(--white));
    font-weight: 300;
    h1, h2, h3, h4, h5, h6 {
        color: hsl(var(--white));
    }

    .section-heading {
        &__subtitle {
            background-color: var(--gray-700) !important;
        }
    }
    
    .footer {
        background-color: var(--gray-700) !important;
    }
    .bottom-footer {
        background-color: var(--gray-700) !important;
    }
}

.body-bg .common-pagination .page-item .page-link {
    background: hsl(var(--white));
    box-shadow: 0px 4px 4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
}
/* ==================== Home Two Initial Css End =================== */
